name: Sync Linter Rules

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/sync.yaml
  schedule:
    - cron: "0 0 * * 0" # Runs at 00:00, only on Sunday
  workflow_dispatch:

jobs:
  python:
    name: Python
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Checkout Copier Template
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository_owner }}/copier-python
          path: tmp.3wTvlJYPRu
          sparse-checkout: template/.config/linters
      - name: Sync Linter Rules
        run: >-
          cp --archive --force --no-target-directory --verbose --
          'tmp.3wTvlJYPRu/template/.config/linters/' 'linters/'
      - name: Clean Copier Template
        run: rm --force --recursive -- 'tmp.3wTvlJYPRu'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          add-paths: linters/
          commit-message: "chore: update linter rules"
          branch: bot/sync-linter-rules
          delete-branch: true
          sign-commits: true
          title: "chore: update linter rules"
          labels: automerge,bot
